<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 custom-form">
<%= form_with model: @user do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :username ,class: 'required'%>
    <%= f.text_field :username, class: 'form-control', required: true %>
    <p class='error text-danger'><%= show_errors(@user, :username) %></p>

  </div>
  <br>
  <div class="form-group">
    <%= f.label :email ,class: 'required'%>
    <%= f.email_field :email, class: 'form-control', required: true %>
    <p class='error text-danger'><%= show_errors(@user, :email) %></p>

  </div>
  <br>
  <% if  current_user==@user  %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <p class='error text-danger'><%= show_errors(@user, :password) %></p>

    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
 
  <br>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
   <%end %>
  <br>
<div class="form-group custom-dropdown">
  <%= f.select :role_id,
    options_for_select(Role.all.collect { |role| [role.name, role.id] }, selected: @user.role_id),
    prompt: "Select a role for the user",
    class: 'custom-dropdown'
  %>
</div>


  <br>
 <div class="form-group full-width-button">
  <%= f.submit(nil, class: "btn btn-success") %>
</div>

<% end %>

</div>
</div>
</div>

