<div class="container ">
<% flash.each do |key, message| %>
  <div class="alert alert-dismissible custom-alert <%= key.to_s == 'alert' ? 'alert-danger' : 'alert-success' %>" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>



<h1 class="text-center mt-4">Users</h1>

<div class="buttons d-flex gap-3"><div class="create-user-link "><%= button_to 'Add New User', new_user_path,method: :get, class: 'btn btn-lg custom-button' ,style: 'background-color: rgb(52, 131, 172);color: azure;' %>
    </div><br>
<div class="locked-user "><%= button_to 'Locked Users', locked_users_path,method: :get, class: 'btn btn-lg custom-button' ,style: 'background-color: rgb(52, 131, 172);color: azure;' %>
    </div><br></div>

  <% @users.each do |user| %>
    <div class="row justify-content-md-center ">
      <div class="col-8 mt-4" >
       <div class="card text-center shadow mb-5 rounded ">
          <div class="card-body custom-card">
            <h5 class="card-title">Name: <%= link_to user.username, user %></h5>
             <h5 class="card-title">Role: <%= user.role.name %></h5>
            
            
    </div>

          <div class="card-footer text-muted ">
            <small>created <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
   
  <% end %>
</div>
 </div>