
<nav class="navbar navbar-expand-lg navbar-dark  " >
<%= link_to 'Hospital Management +', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav mr-auto ">
    </ul>
    <ul class="navbar-nav">
            
     
        <%= link_to 'Login', login_path, class: 'login-button ' %>
    </ul>
  </div>
</nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
       <div class="custom-form-container">
        <h2 >Forgot Password</h2>

        <%= form_tag send_reset_password_instructions_path, method: :post do %>
          <div class="form-group">
            <%= label_tag :email, 'Email', class: 'required' %>
            <%= email_field_tag :email, nil, class: 'form-control', required: true %>
          </div>

        <%= submit_tag 'Send Reset Instructions', class: 'btn btn-success custom-button' %>        <% end %>
      </div>
    </div>
  </div>            
  </div>                    
