<nav class="navbar navbar-expand-lg navbar-dark  " >
<%= link_to 'Hospital Management +', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav mr-auto ">
    </ul>
    <ul class="navbar-nav">
            
     
        <%= link_to 'Login', root_path, class: 'login-button' %>
    </ul>
  </div>
</nav>


<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
       <div class="custom-form-container">
<h2>Reset Password</h2>

<%= form_tag reset_password_path(token: @user.reset_password_token), method: :patch do %>
  <div class="form-group">
    <%= label_tag :password, 'New Password',class: 'required' %>
    <%= password_field_tag :password, nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :password_confirmation, 'Confirm Password',class: 'required' %>
    <%= password_field_tag :password_confirmation, nil, class: 'form-control', required: true %>
  </div>
  <br>
  <%= submit_tag 'Reset Password', class: 'btn btn-success custom-button' %>
<% end %>
</div>
</div>
</div>
</div>