<div class="container-fluid ">
   <div class="prescription-invoice-tab d-flex">
     
  <div class="card text-dark  m-5  " style="max-width: 13rem;">
   <%= link_to 'Prescription Tab', patient_prescriptions_path(patient_id: @patient.id), class: 'btn  custom-button',style: 'background-color: rgb(52, 131, 172);color: azure;' %>
   
  </div>
<div class="card text-dark m-5" style="max-width: 13rem;">
  <%= link_to  patient_invoice_patient_path(@patient), class: 'btn btn-info custom-button', style: 'background-color: rgb(52, 131, 172); color: azure;' do%>
  <%=@patient.name %> invoice<%end  %>
</div>


  

</div>


<div class="container-fluid ">
  <h1 class="mb-4"><%= @patient.name  %> Data</h1>
 <div class="row justify-content-md-center">
  <div class="col-8 mt-4">
  <div class="card text-center">
    <div class="card-body">
  <h3 class="card-title">Name: <%= @patient.name %></h3>
  <p>Email: <strong><%= @patient.email %></strong></p>
  <p>Phone No: <strong><%= @patient.phone_no %></strong></p>
  <p>Gender: <strong><%= @patient.sex %></strong></p>
  <p>DOB: <strong><%= @patient.date_of_birth %></strong></p>
  <p>Age: <strong><%= @patient.age %></strong></p>
  <p>Patient ID: <strong><%= @patient.patient_id %></strong></p>
  <p>Bed Number: <strong><%= @patient.bed_number %></strong></p>
  <p>Address: <strong><%= @patient.address %></strong></p>
  <p>Bed Type: <strong><%= @patient.bed_type.name %></strong></p>
  <% if @patient.emergency_admission %>
    <p>Emergency Admission: <strong>Yes</strong></p>
  <% else %>
    <p>Emergency Admission: <strong>No</strong></p>
  <% end %>


<div id="carouselExampleControls" class="w-50 carousel slide mx-auto" data-ride="carousel">
  <div class="carousel-inner">
    <h5>Voter Id</h5>
    <% @patient.voter_id.each_with_index do |pic, i| %>
      <% if (i == 0) %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <%= image_tag pic, style: "height:500px", alt: "Slide #{i+1}" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev custom-carousel" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon custom-carousel-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next custom-carousel" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon custom-carousel-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
  <p>Emergency Contact Person Name: <strong><%= @patient.emergency_contact_person_name %></strong></p>
  <p>Emergency Contact Person Number: <strong><%= @patient.emergency_contact_person_number %></strong></p>
  <p>Emergency Contact Person Email ID: <strong><%= @patient.emergency_contact_person_email_id %></strong></p>
</div>

    
    
   </div>

  </div>
 </div>
 </div>
  <div class="buttons d-flex justify-content-center">
        <div class="card text-dark m-5" style="max-width: 12rem;">
   <%= link_to 'Back', patients_path, class: 'btn btn-outline-info custom-button' %>
   
  </div>
  <div class="card text-dark m-5" style="max-width: 12rem;">
   <%= link_to 'Edit', edit_patient_path(patient_id: @patient.id), class: 'btn btn-outline-warning custom-button' %>
   
  </div>
  <div class="card text-dark m-5" style="max-width: 12rem;">
   
   <%= button_to "Delete", patient_path(@patient), method: :delete, class: "btn btn-outline-danger custom-button" %>
   
  </div>
    </div>
 
</div>


     

