<div class="container-fluid ">
   <div class="prescription-invoice-tab d-flex">
     
  <div class="card text-dark  m-5  " style="max-width: 13rem;">
   <%= link_to 'Prescription Tab', patient_prescriptions_path(patient_id: @patient.id), class: 'btn  custom-button',style: 'background-color: rgb(52, 131, 172);color: azure;' %>
   
  </div>
  <div class="card text-dark m-5" style="max-width: 13rem;">
   <%= link_to 'Invoice Tab', patient_invoices_path(patient_id: @patient.id), class: 'btn btn-info custom-button',style: 'background-color: rgb(52, 131, 172);color: azure;' %>
   
  </div>
  

</div>


<div class="container-fluid ">
  <h1 class="mb-4"><%= @patient.name  %> Data</h1>
 <div class="row justify-content-md-center">
  <div class="col-8 mt-4">
  <div class="card text-center">
    <div class="card-body">
  <h3 class="card-title">Name: <%= @patient.name %></h3>
  <p>Email: <strong><%= @patient.email %></strong></p>
  <p>Phone No: <strong><%= @patient.phone_no %></strong></p>
  <p>Sex: <strong><%= @patient.sex %></strong></p>
  <p>DOB: <strong><%= @patient.date_of_birth %></strong></p>
  <p>Age: <strong><%= @patient.age %></strong></p>
  <p>Patient ID: <strong><%= @patient.patient_id %></strong></p>
  <p>Bed Number: <strong><%= @patient.bed_number %></strong></p>
  <p>Address: <strong><%= @patient.address %></strong></p>
  <p>Bed Type: <strong><%= @patient.bed_type.name %></strong></p>
  <% if @patient.emergency_admission %>
    <p>Emergency Admission: <strong>Yes</strong></p>
  <% else %>
    <p>Emergency Admission: <strong>No</strong></p>
  <% end %>
  <% if @patient.voter_id.attached? %>
    <% @patient.voter_id.each do |image| %>
      Voter ID :<%= image_tag image, width: "300px", class: "img-fluid mb-3" %>
    <% end %>
  <% end %>
  <p>Emergency Contact Person Name: <strong><%= @patient.emergency_contact_person_name %></strong></p>
  <p>Emergency Contact Person Number: <strong><%= @patient.emergency_contact_person_number %></strong></p>
  <p>Emergency Contact Person Email ID: <strong><%= @patient.emergency_contact_person_email_id %></strong></p>
</div>

    
    
   </div>

  </div>
 </div>
 </div>
  <div class="buttons d-flex">
        <div class="card text-dark m-5" style="max-width: 12rem;">
   <%= link_to 'Back', patients_path, class: 'btn btn-info custom-button' %>
   
  </div>
  <div class="card text-dark m-5" style="max-width: 12rem;">
   <%= link_to 'Edit', edit_patient_path(patient_id: @patient.id), class: 'btn btn-warning custom-button' %>
   
  </div>
  <div class="card text-dark m-5" style="max-width: 12rem;">
   
   <%= button_to "Delete", patient_path(@patient), method: :delete, class: "btn btn-danger custom-button" %>
   
  </div>
    </div>
 
</div>


     

